 body { 
	 font: 16px Helvetica;
	 line-height: 24px; 
	 background: url(./noise.jpg); 
 }
 
#wrap {
	width: 800px;
	margin: 40px auto 60px;
}

#pic {
	width:200px;
	height:300px;
	position:relative;
	float:right;
	top:-200px;
	border-radius:15px;
	
}
 
h1{
	font-weight:bold;
}

#about {
	width:350px;
	color:gray;
	font-style:italic;
}

dt {
	padding-left:50px;
	font-style:italic;
	font-weight:bold;
	width:150px;
	border-right:1px solid black;
	height:100px;
	}

	.interests {
		position: relative;	
		top:-80px;
	}
.background{
		position: relative;	
		bottom:-60px;
	}	
	.work{
		position: relative;	
		top:-160px;
	}
	
dd {
	width:550px;
	position: relative;
	left: 250px;
	bottom: 100px;	
}
.bold{
	font-weight:bold;
}
